<div class="container-fluid" ng-controller="ProfileCtrl">
    <div class="row">
        <div class="col-md-12 sg-box">
            <form class="form-horizontal" name="profileInfoForm" ng-submit="vm.submit()" ng-controller="ProfileInfoCtrl">
                <fieldset>
                    <legend>{{ 'basicInfo' | translate }}</legend>
                    <div class="form-group" data-ng-show="vm.isVisibleItem('nick')">
                        <label for="inputNick" class="col-lg-2 control-label">{{ 'nick' | translate }}</label>

                        <div class="col-lg-10">
                            <input type="text" disabled class="form-control" id="inputNick"
                                   value="{{ vm.user.nick }}"
                                   placeholder="{{ 'nick' | translate }}" required>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.isVisibleItem('agreedEmail')">
                        <label for="inputAgreedEmail" class="col-lg-2 control-label">{{ 'receiveAgree' | translate }}</label>
                        <div class="col-lg-10">
                            <label for="inputAgreedEmail">
                                <input type="checkbox"
                                       id="inputAgreedEmail"
                                       data-ng-model="vm.form.agreedEmail">
                                <span>{{ 'agreedEmailExplain' | translate }}</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.isVisibleItem('gender')">
                        <label for="selectGender" class="col-lg-2 control-label">{{ 'gender' | translate }}</label>

                        <div class="col-lg-10">
                            <select class="form-control" id="selectGender" data-ng-model="vm.form.gender">
                                <option value="">{{ 'gender' | translate }}</option>
                                <option data-ng-repeat="item in vm.enum.genders"
                                        value="{{ item }}">{{ item | translate }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.isVisibleItem('birth')">
                        <label for="selectGender" class="col-lg-2 control-label">{{ 'birth' | translate }}</label>

                        <div class="col-lg-3">
                            <select class="form-control" id="selectYear" data-ng-model="vm.form.birthYear">
                                <option value="">{{ 'year' | translate }}</option>
                                <option data-ng-repeat="item in vm.enum.years"
                                        value="{{ item }}">{{ item }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control" id="selectMonth" data-ng-model="vm.form.birthMonth">
                                <option value="">{{ 'month' | translate }}</option>
                                <option data-ng-repeat="item in vm.enum.months"
                                        value="{{ item }}">{{ item }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control" id="selectDay" data-ng-model="vm.form.birthDay">
                                <option value="">{{ 'year' | translate }}</option>
                                <option data-ng-repeat="item in vm.enum.days"
                                        value="{{ item }}">{{ item }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="vm.isVisibleItem('language')">
                        <label for="inputLanguage" class="col-lg-2 control-label">{{ 'language' | translate }}</label>

                        <div class="col-lg-10">
                            <select class="form-control" id="inputLanguage" data-ng-model="vm.form.language">
                                <option data-ng-repeat="item in vm.enum.languages"
                                        value="{{ item }}">{{ vm.codeToName('lang', item) }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="vm.isVisibleItem('country')">
                        <label for="inputCountry" class="col-lg-2 control-label">{{ 'country' | translate }}</label>

                        <div class="col-lg-10">
                            <select class="form-control" id="inputCountry" data-ng-model="vm.form.country">
                                <option data-ng-repeat="item in vm.enum.countries"
                                        value="{{ item }}">{{ vm.codeToName('country', item) }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.isVisibleItem('website')">
                        <label for="inputWebsite" class="col-lg-2 control-label">{{ 'website' | translate }}</label>

                        <div class="col-lg-10">
                            <input ng-model="vm.form.website"
                                   name="textareaComment"
                                   class="form-control"
                                   id="inputWebsite"
                                   placeholder="{{ 'website' | translate }}">
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.isVisibleItem('comment')">
                        <label for="inputComment" class="col-lg-2 control-label">{{ 'comment' | translate }}</label>

                        <div class="col-lg-10">
                            <input ng-model="vm.form.comment"
                                   minlength="{{ vm.USER.minCommentLength }}"
                                   maxlength="{{ vm.USER.maxCommentLength }}"
                                   name="inputComment" class="form-control" id="inputComment"
                                   placeholder="{{ 'comment' | translate }}">
                            <span class="help-block" data-ng-show="profileInfoForm.inputComment.$error.minlength">{{ '400_8' | translate }}</span>
                            <span class="help-block" data-ng-show="profileInfoForm.inputComment.$error.maxlength">{{ '400_8' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.isVisibleItem('pfimg')">
                        <label for="inputPfimg" class="col-lg-2 control-label">{{ 'pfimg' | translate }}</label>
                        <div class="col-lg-10">
                            <input data-model="vm.form.pfimg"
                                   ng-model="vm.form.pfimg"
                                   type="file"
                                   data-file-model="vm.file.file0"
                                   name="inputPfimg" class="form-control" id="inputPfimg">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <!--<button type="reset" class="btn btn-lg btn-default">{{ 'reset' | translate }}</button>-->
                        <button type="submit" class="btn btn-lg btn-primary">{{ 'save' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>