.idea/
node_modules/
app/
core/client/lib/
core/client/build/
core/client/pages/sample/assets/stylesheets/*/*.map
core/client/pages/sample/assets/stylesheets/*/*.css
uploads/
temp/
.DS_Store
core/server/views/sample-production.ejs
core/server/views/sample-development.ejs
app/server/views/main-production.ejs
app/server/views/main-development.ejs
app/server/views/admin-production.ejs
app/server/views/admin-development.ejs
/dist/