.sg-board-list-wrap {
  position: relative;

  > .sg-header {
    height: 50px;

    .sg-header-l {
      position: absolute;
      top: 0;
      left: 0;
      float: left;
    }

    .sg-header-r {
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      text-align: right;
      display: inline-block;

      select {
        width: 100px;
      }

      input {
        width: 200px;
      }
    }

    .sg-control-cat {
      width: 150px;
    }
  }

  .sg-table {

    td, th {
      text-align: center;
      vertical-align: middle;
      min-width: 75px;
    }

    .sg-header th {
      max-width: 150px;
      text-align: center;
    }

    th.sg-table-no, th.sg-table-view {
      width: 70px;
    }

    th.sg-table-cat {
      width: 100px;
    }

    th.sg-table-name, th.sg-table-date {
      width: 100px;
    }

    .sg-hidden-article {
      background: #f4f4f4;
      opacity: 0.5;
      filter: alpha(opacity=50);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }

    .sg-notice-title {
      background: #f1f1f1;
      font-weight: bold;
    }

    .sg-title {
      color: #444;
      cursor: pointer;
      word-break: break-all;
      text-align: left;
      min-width: 200px;

      span {
        color: #999;
      }
    }

    .sg-title:hover {
      color: #222;
      text-decoration: underline;
    }
  }

  .sg-pagination-wrap {
    text-align: center;
  }

  .sg-footer {
    text-align: right;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  @media screen and (max-width: 480px) {
    .sg-table {
      td, th{
        min-width: 43px;
      }
    }
    > .sg-header {
      height: 100px;

      .sg-header-r {
        width: 100%;
        select {
          width: 100%;
          margin-bottom: 10px;
        }

        input {
          width: 75%;
          float: left;
          margin-right: 3%;
        }

        button {
          width: 22%;
          float: left;
        }
      }
    }

    .sg-title:before {
      float: left;
      width: 100%;
      content: attr(data-title);
      display: block;
      font-size: 0.875em;
      color: #999;
    }

    .sg-nick, .sg-date, tr.sg-header{
      display: none;
    }
  }
}


