.sg-board-list-wrap {
  position: relative; }
  .sg-board-list-wrap > .sg-header {
    height: 50px; }
    .sg-board-list-wrap > .sg-header .sg-header-l {
      position: absolute;
      top: 0;
      left: 0;
      float: left; }
    .sg-board-list-wrap > .sg-header .sg-header-r {
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      text-align: right;
      display: inline-block; }
      .sg-board-list-wrap > .sg-header .sg-header-r select {
        width: 100px; }
      .sg-board-list-wrap > .sg-header .sg-header-r input {
        width: 200px; }
    .sg-board-list-wrap > .sg-header .sg-control-cat {
      width: 150px; }
  .sg-board-list-wrap .sg-table td, .sg-board-list-wrap .sg-table th {
    text-align: center;
    vertical-align: middle;
    min-width: 75px; }
  .sg-board-list-wrap .sg-table .sg-header th {
    max-width: 150px;
    text-align: center; }
  .sg-board-list-wrap .sg-table th.sg-table-no, .sg-board-list-wrap .sg-table th.sg-table-view {
    width: 70px; }
  .sg-board-list-wrap .sg-table th.sg-table-cat {
    width: 100px; }
  .sg-board-list-wrap .sg-table th.sg-table-name, .sg-board-list-wrap .sg-table th.sg-table-date {
    width: 100px; }
  .sg-board-list-wrap .sg-table .sg-hidden-article {
    background: #f4f4f4;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
  .sg-board-list-wrap .sg-table .sg-notice-title {
    background: #f1f1f1;
    font-weight: bold; }
  .sg-board-list-wrap .sg-table .sg-title {
    color: #444;
    cursor: pointer;
    word-break: break-all;
    text-align: left;
    min-width: 200px; }
    .sg-board-list-wrap .sg-table .sg-title span {
      color: #999; }
  .sg-board-list-wrap .sg-table .sg-title:hover {
    color: #222;
    text-decoration: underline; }
  .sg-board-list-wrap .sg-pagination-wrap {
    text-align: center; }
  .sg-board-list-wrap .sg-footer {
    text-align: right; }
  .sg-board-list-wrap .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  @media screen and (max-width: 480px) {
    .sg-board-list-wrap .sg-table td, .sg-board-list-wrap .sg-table th {
      min-width: 43px; }
    .sg-board-list-wrap > .sg-header {
      height: 100px; }
      .sg-board-list-wrap > .sg-header .sg-header-r {
        width: 100%; }
        .sg-board-list-wrap > .sg-header .sg-header-r select {
          width: 100%;
          margin-bottom: 10px; }
        .sg-board-list-wrap > .sg-header .sg-header-r input {
          width: 75%;
          float: left;
          margin-right: 3%; }
        .sg-board-list-wrap > .sg-header .sg-header-r button {
          width: 22%;
          float: left; }
    .sg-board-list-wrap .sg-title:before {
      float: left;
      width: 100%;
      content: attr(data-title);
      display: block;
      font-size: 0.875em;
      color: #999; }
    .sg-board-list-wrap .sg-nick, .sg-board-list-wrap .sg-date, .sg-board-list-wrap tr.sg-header {
      display: none; } }

.sg-board-detail-wrap {
  position: relative; }
  .sg-board-detail-wrap > .sg-header {
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f4f4f4; }
  .sg-board-detail-wrap .sg-header-up {
    color: #000;
    line-height: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd; }
  .sg-board-detail-wrap .sg-header-cat {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #ddd; }
  .sg-board-detail-wrap .sg-header-title {
    font-weight: bold; }
  .sg-board-detail-wrap .sg-header-down {
    background: #fafafa; }
  .sg-board-detail-wrap .sg-header-down div {
    display: inline-block;
    padding: 10px; }
  .sg-board-detail-wrap .sg-header-down-r {
    float: right; }
  .sg-board-detail-wrap .sg-header-author {
    font-weight: bold; }
  .sg-board-detail-wrap .sg-header-down-r span {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #ddd; }
  .sg-board-detail-wrap .sg-header-down-r span.sg-header-last {
    border-right: none;
    padding-right: 0; }
  .sg-board-detail-wrap > .sg-body {
    padding: 10px;
    min-height: 200px;
    border-bottom: 1px solid #ddd;
    word-break: break-all;
    white-space: pre-wrap; }
  .sg-board-detail-wrap > .sg-footer {
    position: relative;
    padding: 10px 0 10px 10px;
    text-align: right; }
  @media screen and (max-width: 480px) {
    .sg-board-detail-wrap .sg-header-down .sg-header-down-r {
      width: 100%;
      display: block;
      text-align: right;
      padding-top: 0;
      font-size: 0.875em;
      color: #999; }
      .sg-board-detail-wrap .sg-header-down .sg-header-down-r span {
        padding: 0 5px; } }

.sg-board-write-wrap {
  position: relative; }
  .sg-board-write-wrap .sg-header {
    position: relative;
    margin-bottom: 10px; }
  .sg-board-write-wrap .sg-cat-wrap {
    width: 150px;
    top: 0;
    left: 0;
    position: absolute; }
  .sg-board-write-wrap .sg-cat-wrap select {
    width: 100%; }
  .sg-board-write-wrap .sg-title-wrap {
    margin-left: 160px; }
  .sg-board-write-wrap .sg-file-wrap {
    margin-left: 160px;
    margin-right: 100px; }
  .sg-board-write-wrap .sg-upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px; }
  .sg-board-write-wrap .sg-url-title {
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
    text-align: right;
    line-height: 34px;
    font-size: 0.875em;
    color: #666; }
  .sg-board-write-wrap .sg-url {
    margin-top: 10px; }
  .sg-board-write-wrap .sg-footer {
    position: relative;
    margin-top: 10px;
    text-align: right; }
    .sg-board-write-wrap .sg-footer .sg-options {
      position: absolute;
      top: 0;
      left: 0; }

.sg-board-comment-wrap {
  position: relative; }
  .sg-board-comment-wrap .sg-hidden {
    display: none; }
  .sg-board-comment-wrap .sg-item-wrap-depth0 {
    padding-left: 0px; }
  .sg-board-comment-wrap .sg-item-wrap-depth1 {
    padding-left: 50px; }
  .sg-board-comment-wrap .sg-item-wrap-depth2 {
    padding-left: 100px; }
  .sg-board-comment-wrap .sg-item {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 10px 0; }
    .sg-board-comment-wrap .sg-item .sg-contents {
      position: relative;
      margin-left: 48px; }
      .sg-board-comment-wrap .sg-item .sg-contents p {
        word-break: break-all;
        white-space: pre-wrap; }
      .sg-board-comment-wrap .sg-item .sg-contents textarea {
        font-size: 1em; }
    .sg-board-comment-wrap .sg-item .sg-options {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0; }
      .sg-board-comment-wrap .sg-item .sg-options span {
        white-space: nowrap;
        display: inline-block;
        font-size: 12px;
        color: #999;
        cursor: pointer;
        border-right: 1px solid #ccc;
        padding: 0 5px; }
      .sg-board-comment-wrap .sg-item .sg-options span:hover {
        color: #666;
        text-decoration: underline; }
      .sg-board-comment-wrap .sg-item .sg-options span.sg-last {
        border-right: none; }
  .sg-board-comment-wrap .sg-pfimg {
    width: 38px;
    position: absolute;
    top: 10px;
    left: 0; }
  .sg-board-comment-wrap .sg-pfimg img {
    width: 34px;
    height: 34px; }
  .sg-board-comment-wrap .sg-name {
    font-weight: bold;
    font-size: 1.125em;
    margin-right: 5px; }
  .sg-board-comment-wrap .sg-date {
    font-size: 0.875em;
    color: #777; }
  .sg-board-comment-wrap .sg-comment-form-wrap {
    margin-right: 100px; }
  .sg-board-comment-wrap .sg-comment-btn-wrap {
    position: absolute;
    width: 90px;
    right: 0;
    top: 0; }
    .sg-board-comment-wrap .sg-comment-btn-wrap button, .sg-board-comment-wrap .sg-comment-btn-wrap div {
      width: 100%; }
    .sg-board-comment-wrap .sg-comment-btn-wrap div {
      text-align: center; }
  .sg-board-comment-wrap .sg-more-wrap {
    padding: 10px 0;
    text-align: center; }
    .sg-board-comment-wrap .sg-more-wrap .sg-loadingbar {
      width: 110px; }
    .sg-board-comment-wrap .sg-more-wrap .sg-more {
      width: 200px; }
  @media screen and (max-width: 480px) {
    .sg-board-comment-wrap .sg-comment-form-wrap {
      margin-right: 0; }
    .sg-board-comment-wrap .sg-comment-btn-wrap {
      position: relative;
      width: 100%;
      margin-top: 7px; }
    .sg-board-comment-wrap .sg-item p {
      margin: 0 0 5px; }
    .sg-board-comment-wrap .sg-item .sg-options {
      position: relative;
      font-size: 0;
      text-align: right; } }

/*# sourceMappingURL=skin.css.map */
