<div id="sg-terms-manage-create" ng-class="isTermsCreateVisible ? '' : 'sg-terms-manage-create-hide'"
     ng-if="!isTermsCreateFirstTime">

    <div class="sg-terms-manage-create-fake" ng-click="hideTermsCreate()">
    </div>

    <div ng-class="isTermsCreateVisible ? 'sg-terms-manage-create-container' : 'sg-terms-manage-create-container-hide'"
         ng-if="!isTermsCreateFirstTime">

        <!--<div class="sg-terms-manage-create-title sg-titles">-->
            <!--{{'createTerms'|translate}}-->
        <!--</div>-->

        <div class="sg-terms-manage-create-close" ng-click="hideTermsCreate()">

        </div>

        <div class="sg-terms-manage-create-body">

            <div class="sg-terms-manage-create-body-top">
                <div class="sg-terms-manage-create-body-type">
                    <div class="sg-terms-manage-create-titles">
                        {{'type'| translate}}
                    </div>
                    <div class="sg-terms-manage-create-body-type-body">
                        <select ng-model="form.type" class="sg-main-view-top-second-sort-btn sg-option" required>
                            <option ng-repeat="x in enumType" value="{{x}}">{{x | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="sg-terms-manage-create-body-language">
                    <div class="sg-terms-manage-create-titles">
                        {{'language'| translate}}
                    </div>
                    <div class="sg-terms-manage-create-body-language-body">
                        <select ng-model="form.language" class="sg-main-view-top-second-sort-btn sg-option" required>
                            <option ng-repeat="x in enumLanguages" value="{{x}}">{{x | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="sg-terms-manage-create-body-title">
                <div class="sg-terms-manage-create-titles">
                    {{'title'| translate}}
                </div>
                <input ng-model="form.title" type="text" class="sg-terms-manage-create-body-title-body sg-input" required>
            </div>

            <div class="sg-terms-manage-create-body-content">
                <div class="sg-terms-manage-create-titles">
                    {{'content'| translate}}
                </div>
                <div class="sg-terms-manage-create-body-content-body">
                    <form>
                        <textarea ck-editor ng-model="form.content" required></textarea>
                    </form>
                </div>
            </div>

            <!--<div class="sg-terms-manage-create-body-type">-->
            <!--<div class="sg-terms-manage-create-body-type-title">-->
            <!--{{'type'| translate}}-->
            <!--</div>-->
            <!--<div class="sg-terms-manage-create-body-type-body">-->
            <!--<select ng-model="form.type" class="sg-main-view-top-second-sort-btn" required>-->
            <!--<option ng-repeat="x in noticeTypes" value="{{x}}">{{x | translate}}</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->

            <div class="sg-terms-manage-create-body-start-date">
                <div class="sg-terms-manage-create-titles">
                    {{'applyDate'| translate}}
                </div>
                <input type="text" calendar ng-model="form.startDate" id="startDate"
                       start-date="datePicker.startDate" end-date="datePicker.endDate" autocomplete=off>
            </div>
        </div>

        <div class="sg-terms-manage-create-bottom">
            <button class="sg-terms-manage-create-bottom-create-btn sg-action-btn" ng-click="createTerms()">
                {{'create'|translate}}
            </button>
            <!--<button class="sg-terms-manage-create-bottom-cancel-btn sg-cancel-btn" ng-click="hideTermsCreate()">-->
                <!--{{'cancel'|translate}}-->
            <!--</button>-->
        </div>

    </div>

</div>