<div id="sg-terms-manage" data-ng-controller="TermsCtrl">
    <div class="sg-terms-manage-container">

        <div class="sg-terms-manage-top">
            <div class="sg-terms-manage-top-title sg-titles">
                {{'termsManage' | translate}}
            </div>
            <div class="sg-terms-manage-top-hint">
                (<span>*</span>)는  필수 약관
            </div>
            <select ng-model="params.language"
                    class="sg-terms-manage-top-filter sg-option">
                <option ng-repeat="x in enumLanguages" value="{{x}}">{{x | translate}}</option>
            </select>
        </div>

        <div class="sg-terms-manage-main">

            <div class="sg-terms-manage-main-left">
                <div class="sg-terms-manage-main-left-list">
                    <div class="sg-terms-manage-main-left-list-add" ng-click="showTermsCreate()">
                        {{'createTerms'|translate}}
                    </div>
                    <div class="sg-terms-manage-main-left-list-item" ng-repeat="terms in termsList"
                         ng-click="selectTerms(terms);"
                         ng-class="terms.id == currentTerms.id?'sg-terms-manage-main-left-list-item-active': 'sg-terms-manage-main-left-list-item'">
                        {{terms.title}} <span ng-if="terms.type == TERMS.typeEssential">*</span>
                    </div>
                </div>
            </div>

            <div class="sg-terms-manage-main-right">

                <div class="sg-terms-manage-main-right-top">
                    <div class="sg-terms-manage-main-right-top-title sg-titles">
                        {{'termsManage' | translate}}
                    </div>

                    <select ng-model="params.language"
                            class="sg-terms-manage-main-right-top-filter sg-option">
                        <option ng-repeat="x in enumLanguages" value="{{x}}">{{x | translate}}</option>
                    </select>
                </div>

                <div class="sg-terms-manage-main-top">

                    <div class="sg-terms-manage-main-top-left">
                        <select ng-options="terms as terms.title for terms in termsList" ng-model="currentTerms"
                                class="sg-terms-manage-main-top-left-select sg-filter">
                        </select>
                        <div class="sg-terms-manage-main-top-left-arrow">

                        </div>
                    </div>
                    <div class="sg-terms-manage-main-top-right">
                        <div class="sg-terms-manage-main-top-right-btn" ng-click="showTermsCreate()">
                            {{'createTerms'|translate}}
                        </div>
                    </div>
                </div>

                <div class="sg-terms-manage-main-right-title">
                    {{selectedTerms.title}} <span ng-if="selectedTerms.type == TERMS.typeEssential">*</span>
                </div>

                <div class="sg-terms-manage-main-right-versions">

                    <div class="sg-terms-manage-main-right-versions-add">
                        <div class="sg-terms-manage-main-right-versions-add-ic">
                            <div class="sg-terms-manage-main-right-versions-add-ic-width">

                            </div>
                            <div class="sg-terms-manage-main-right-versions-add-ic-height">

                            </div>
                        </div>
                        <span ng-click="showTermsAddVersion()">{{'addVersion'| translate}}</span>
                    </div>
                    <div class="sg-terms-manage-main-right-versions-item"
                         ng-repeat="version in selectedTerms.versions track by $index"
                         ng-click="findTermsById(version.id)"
                         ng-class="version.id == activeVersionId?'sg-terms-manage-main-right-versions-item-active': 'sg-terms-manage-main-right-versions-item'">
                        ver.{{$index}}
                    </div>
                </div>

                <div class="sg-terms-manage-main-right-date"
                     ng-style="activeVersionId == currentTerms.id && {'background-color': '#eef4f0'}">

                    <div class="sg-terms-manage-main-right-body-start-date">

                        <div class="sg-terms-manage-main-right-body-start-date-title">
                            {{'applyDate'|translate}}
                        </div>
                        <div class="sg-terms-manage-main-right-body-start-date-body">
                            {{selectedTerms.startDate | microTimeToDate}}
                        </div>
                    </div>
                    <div class="sg-terms-manage-main-right-body-created-at">
                        <div class="sg-terms-manage-main-right-body-created-at-title">
                            {{'createdAt'|translate}}
                        </div>
                        <div class="sg-terms-manage-main-right-body-created-at-body">
                            {{selectedTerms.createdAt | microTimeToDate}}
                        </div>
                    </div>

                    <div class="sg-terms-manage-main-right-applied" ng-if="activeVersionId == currentTerms.id">
                        <div class="sg-terms-manage-main-right-applied-img">

                        </div>
                        <div class="sg-terms-manage-main-right-applied-text">
                            {{'appliedTerms' | translate}}
                        </div>
                    </div>

                </div>

                <div class="sg-terms-manage-main-right-body">
                    <!--<div class="sg-terms-manage-main-right-body-top" ng-if="activeVersionId == currentTerms.id">-->
                    <!--{{'thisIsAppliedTerms'|translate}}-->
                    <!--</div>-->
                    <div class="sg-terms-manage-main-right-body-content"
                         ng-bind-html="selectedTerms.content | trustAsHtml"></div>
                </div>

                <!--<div class="sg-terms-manage-main-right-delete sg-delete-border-btn" ng-click="deleteVersion(selectedTerms)">-->
                <!--{{'delete'|translate}}-->
                <!--</div>-->

            </div>
        </div>
    </div>
    <div data-ng-include src="'pages/admin/views/contents/terms-manage-create.html'" ng-if="isTermsCreateVisible"></div>
    <div data-ng-include src="'pages/admin/views/contents/terms-manage-add-version.html'"
         ng-if="isTermsAddVersionVisible"></div>
</div>