<div class="sg-board-list-wrap" ng-controller="BbsListCtrl">

    <div class="sg-header">
        <div class="sg-header-l" ng-if="vm.data.categories.length > 1">
            <select class="form-control input-sm sg-control-cat"
                    data-ng-options="category.id as category.name for category in vm.data.board.categories"
                    data-ng-model="vm.form.categoryId">
                <option value="">전체</option>
            </select>
        </div>

        <form class="sg-header-r form-inline">
            <select class="form-control input-sm"
                    data-ng-model="vm.form.searchType">
                <option value="nick">작성자</option>
                <option value="title">제목</option>
            </select>
            <input type="text" class="form-control input-sm"
                   data-ng-model="vm.form.searchInput"
                   data-ng-enter="vm.filter(0)"/>
            <button class="btn btn-sm btn-default"
                    data-ng-click="vm.filter(0)">검색
            </button>
        </form>
    </div>

    <table class="table sg-table">
        <thead>
        <tr class="sg-header">
            <th class="sg-table-no">#</th>
            <th class="sg-table-title">제목</th>
            <th class="sg-table-name">이름</th>
            <th class="sg-table-date">날짜</th>
            <th class="sg-table-view">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr class="sg-notice-title {{ !article.isVisible ? 'sg-hidden-article' : '' }}"
            data-ng-repeat="article in vm.data.noticeArticles">
            <th>공지</th>
            <td class="sg-title" data-ng-click="vm.goToDetail(article)"
                data-title="{{article.author.nick + ' ' + (article.createdAt | date:'yy-MM-dd') }}">
                <b ng-if="vm.data.categories.length > 1">{{ article.category.name }}</b>
                {{ article.title }}
                <span>[{{ article.commentCount || 0 }}]</span>
                <span ng-if="!article.isVisible">[숨김]</span>
            </td>
            <td class="sg-nick">{{ article.author.nick }}</td>
            <td class="sg-date">{{ article.createdAt | date:'yy-MM-dd' }}</td>
            <td class="sg-views">{{ article.views }}</td>
        </tr>
        <tr class="{{ !article.isVisible ? 'sg-hidden-article' : '' }}"
            data-ng-repeat="article in vm.data.articles">
            <th>{{ vm.data.articleCount - $index - (vm.paging.currentPage * vm.paging.listSize) }}</th>
            <td class="sg-title" data-ng-click="vm.goToDetail(article)"
                data-title="{{article.author.nick + ' ' + (article.createdAt | date:'yy-MM-dd') }}">
                <b ng-if="vm.data.categories.length > 1">{{ article.category.name }}</b>
                {{ article.title }}
                <span>[{{ article.commentCount || 0 }}]</span>
                <span ng-if="!article.isVisible">[숨김]</span>
            </td>
            <td class="sg-nick">{{ article.author.nick }}</td>
            <td class="sg-date">{{ article.createdAt | date:'yy-MM-dd' }}</td>
            <td class="sg-views">{{ article.views }}</td>
        </tr>
        </tbody>
    </table>

    <div class="sg-footer">
        <button type="button" class="btn btn-sm btn-default"
                data-ng-if="vm.hasWriteRole(vm.data.board)"
                data-ng-click="vm.goToWriteForm()">쓰기</button>
    </div>

    <div class="sg-pagination-wrap">
        <ul class="pagination pagination-sm">
            <li class="{{ vm.paging.currentPage == 0 ? 'disabled' : '' }}"
                data-ng-click="vm.movePage(vm.paging.prevLast)">
                <a href="" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="{{ vm.paging.currentPage == num ? 'active' : '' }}"
                data-ng-repeat="num in vm.paging.numbers"
                data-ng-click="vm.movePage(num * vm.paging.listSize)">
                <a href="">{{ num + 1 }}</a>
            </li>
            <li class="{{ vm.paging.currentPage + 1 == vm.paging.maxPageSize ? 'disabled' : '' }}"
                data-ng-click="vm.movePage(vm.paging.nextLast)">
                <a href="" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

</div>


